<!-- <h1>main component</h1> -->

<!-- u can pass name into the component using this -->

<!-- <app-user-profile 
 *ngFor = "let u of users"
 [userName] = "u.name"
 [isSingle] = "u.isSingle"
 [salary] = "u.salary"
 (myEvent)="recevedData($event)"  
></app-user-profile>

<button (click)="clear()" >clear users</button>  -->

<!-- <app-user-profile name="vivek"></app-user-profile>
<app-user-profile name="vicky"></app-user-profile> -->


<!-- <app-joke></app-joke> -->
 <app-a></app-a>
 <app-b1></app-b1>